$color-barbg-start: rgba(240,240,240,.7);
$color-barbg-end: rgba(255,255,255,.7);

$color-text: #333;
$color-bg: #F1F1F1;
$color-bg-hover: #F8F8F8;
$color-border: #DDD;

$image-magni: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAA3NCSVQICAjb4U/gAAAALVBMVEX///9mZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmaSGrP3AAAAD3RSTlMAESIzVWZ3iJmqu8zd7v9cds+WAAAACXBIWXMAAArwAAAK8AFCrDSYAAAAH3RFWHRTb2Z0d2FyZQBNYWNyb21lZGlhIEZpcmV3b3JrcyA4tWjSeAAAAHtJREFUCJljYBA796aIAQiY9r2998YAyJB+O9Xz3iEgw+8aEL8AMtYtZGDgfCXAwLCvgIGBBaRoHZDBCmLM28jAwPUKpPiFAGPdMyBD8t2J6ndXgYqZ5r57d+fdZKAQy6ydwefAZjMKMOS9O8wABhLv3kAYjH3vGKBCLwCxwiq/DoIXaAAAAABJRU5ErkJggg==");